
body {
    --background-color: #18181B;
    --text-color: rgb(57, 150, 68);
    background-color: var(--background-color);
    color: var(--text-color);
}

.h1{
    margin: 3%;
    text-align: center;
}

.card{
    width: 300px;
    height: 400px;
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    margin: 3%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s

}

.card:hover{
    opacity: 1;
    width: 310px;
    height: 410px;
}

.card h3{
    text-align: center;
    margin-top: 10px;
}

.card .bnt_card{
    width: 100%;
    display: table-column;
    /* border-collapse: collapse; */

    /* display: flex; */
    position: absolute;
    bottom: 10px;
    margin-left: auto;



} .card .bnt_card .button1{
    width: 100%;
    background-color : rgb(228, 92, 92);
    color:aliceblue;
    transition: 0.2s
} .card .bnt_card .button2{
    width: 100%;
    background-color : rgb(79, 192, 75);
    color:aliceblue;
    transition: 0.2s
} .card .bnt_card .button1:hover{
    background-color : rgb(255, 0, 0);

} .card .bnt_card .button2:hover{
    background-color: rgb(94, 255, 0);
    /* transform: rotateX('angle'); */

}

